* {
        font-family: Arial, Helvetica, sans-serif; 
}   

.full-width { padding-left: 0; padding-right: 0; }
.full-width .row { margin-right: 0; margin-left: 0; }
.full-width .col-md-12 { padding-left: 0; padding-right: 0; }


nav {
    box-shadow: 0 9px 6px 0 rgba(12, 12, 12, 0.308);
}


nav a:hover {
    background-color: #7dafc2;
}


main {
    padding: 20px
} 

.card {
    margin: auto;
    float: none;
}


body {
    background-image: url('slike/pexels-gradienta-7130497.jpg');
    background-size: 100%;
}

h3 {
    font-family: cursive;
    text-align: center;
    margin-top: 90px;
}

.list-group-item {
    background-color: wheat;
}

.navbar-brand{
    height: 40px;
}

footer {
    position:relative;
    bottom:0;
    width:100%;
}

.page-footer {
    background-color: rgb(53, 106, 252)
}

.footer-copyright {
    color: rgb(165, 162, 162);
}

.adress {
    color: white;
}